body {
	background: url("roleplay_background.jpg");
	background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
	background-repeat:no-repeat;
	background-attachment:fixed;
}